<table class="table" style="border: red;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customers._embedded.customers">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td><button class="btn btn-outline-info" (click)="gotoCustomerOrders(item.id)"><i class="fa-solid"></i> orders </button></td>
      </tr>
    </tbody>
  </table>
