<!--<div style="font-size: large"><strong> Customer : </strong>{{name}}</div>-->

<table class="table" style="border: red">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of orders">
            <td>{{item.created | date}}</td>
            <td [ngClass]="item.status == 'CREATED'? 'text-primary' : 'text-success'">{{item.status}}</td>
            <td><button class="btn btn-outline-secondary" (click)="gotoOrderDetails(item.id)"> details <i class="fa-solid"></i></button></td>
          </tr>
    </tbody>
  </table>
